<a href="https://colab.research.google.com/github/brennoliveira/trabalho-pratico-2-ML/blob/main/C%C3%B3pia_de_tp_clusterizacao_dados_criminais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de Dados Criminais

O objetivo dessa tarefa é construir um mapa do crime no Brasil a partir de dados abertos. O trabalho pode ser feito em dupla ou individual. Cada dupla ou pessoa deve fazer uma análise e pré-processamento dos dados para que possam construir um mapa do crime do Brasil. Além disso, vocês devem aplicar algoritmos de de clusterização para agrupar cidades de acordo com o nível de criminalidade (como o exemplo dos Estados Unidos que apresentei em sala de aula).

A base que vocês devem utilizar está disponível neste link:

http://dados.mj.gov.br/dataset/sistema-nacional-de-estatisticas-de-seguranca-publica

A base contém dados de crimes cometidos nos estados brasileiros. Na página vocês vão encontrar os dados por estado e por município. No entanto, para esse trabalho vamos usar apenas a base de estados. O nome do arquivo é `indicadoressegurancapublicauf.xlxs` e pode ser acessados no link acima onde tem **Dados Nacionais de Segurança Pública - UF**. No link também tem o arquivo **Dicionário de Dados - UF** que explica a tabela que vocês vão trabalhar. Além disso, o link contém outras informações relacionadas ao tema. Importante a leitura para ajudar na análise de vocês. 

O trabalho deve conter as seguintes tarefas

* pré-processamento e análise dos dados;
* aplicação dos algoritmos de clusterização e análise dos resultados;
* visualização dos resultados da análise e da clusterização. 

Para as etapas 1 e 3 vocês podem usar qualquer ferramenta: excel, power bi .... Para a etapa 2, utilizem os algoritmos de clusterização apresentados em sala de aula através da biblioteca **scikit-learn**. No material de aula mostro como construir uma tabela com os dados da clusterização. Essa saída pode ser usada nas ferramentas que vocês escolherem. Na etapa de clusterização vocês devem gerar o cluster e fazer a análise dos resultados. Variem parâmetros relacionados aos algoritmos de cluster para encontrar o melhor agrupamento. Essa análise deve ser feita também utilizando as métricas de avaliação não-supervisionadas vistas em sala de aula.

A seguir mostro como fazer a leitura do arquivo.

Bom trabalho ;)

In [2]:
# Imports necessários
import pandas as pd

## Carregando a base do Excel 

O arquivo de entrar é um `.xlsx` que possui duas planilhas. A primeira com as ocorrências criminais e a segunda com o número de vítimas de diferentes registros criminais. Cada planilha foi salva em um DataFrame distinto. Vocês devem analisar a melhor forma de utilizar esses dados durante a etapa de pré-processamento ;)

In [67]:
# abrindo datasets
data_ocorrencias = pd.read_excel("indicadoressegurancapublicauf.xlsx", sheet_name='Ocorrências')
data_vitimas = pd.read_excel("indicadoressegurancapublicauf.xlsx",sheet_name='Vítimas')

In [68]:
# alterando noma da coluna
data_ocorrencias.columns = data_ocorrencias.columns.str.replace('Tipo Crime', 'Tipo_Crime')

In [69]:
# agrupando por UF e Tipo_Crime
ocorrencias_por_crime = data_ocorrencias.groupby(['UF','Tipo_Crime']).sum()
ocorrencias_por_crime

# data_ocorrencias.query("UF == 'Acre' and Tipo_Crime == 'Estupro'").sum()

                                                  Ano  Ocorrências
UF        Tipo_Crime
Acre      Estupro                              171534         1525
          Furto de veículo                     171534         2769
          Homicídio doloso                     171534         1971
          Lesão corporal seguida de morte      167496            8
          Roubo a instituição financeira       169515           13
...                                               ...          ...
Tocantins Roubo a instituição financeira       171534           93
          Roubo de carga                       131126           41
          Roubo de veículo                     171534         5160
          Roubo seguido de morte (latrocínio)  171534           94
          Tentativa de homicídio               171534         2801

[243 rows x 2 columns]

In [70]:
# listando os estados
estados = list(data_ocorrencias.UF.unique())
estados

['Acre',
 'Amapá',
 'Amazonas',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Mato Grosso',
 'Mato Grosso do Sul',
 'Minas Gerais',
 'Pará',
 'Paraíba',
 'Paraná',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Rio Grande do Sul',
 'Rondônia',
 'Roraima',
 'Santa Catarina',
 'São Paulo',
 'Sergipe',
 'Tocantins',
 'Alagoas',
 'Rio de Janeiro']

In [71]:
# criando novo DataFrame com a soma das ocorrências de cada tipo de crime
matriz = []

for uf in estados:
  linha = [uf]
  for i in range(9):
    df = ocorrencias_por_crime.query(f"UF == '{uf}'")
    # print(df.Ocorrências[0])
    linha.append(df.Ocorrências[i])
  matriz.append(linha)
matriz = pd.DataFrame(matriz, columns=['UF','Tipo_Crime_Estupro',	'Tipo_Crime_Furto_de_veículo',	'Tipo_Crime_Homicídio_doloso'	,'Tipo_Crime_Lesão_corporal_seguida_de_morte'	,'Tipo_Crime_Roubo_a_instituição_financeira',	'Tipo_Crime_Roubo_de_carga',	'Tipo_Crime_Roubo_de_veículo',	'Tipo_Crime_Roubo_seguido_de_morte_(latrocínio)',	'Tipo_Crime_Tentativa_de_homicídio'	 ])
matriz

,UF,Tipo_Crime_Estupro,Tipo_Crime_Furto_de_veículo,Tipo_Crime_Homicídio_doloso,Tipo_Crime_Lesão_corporal_seguida_de_morte,Tipo_Crime_Roubo_a_instituição_financeira,Tipo_Crime_Roubo_de_carga,Tipo_Crime_Roubo_de_veículo,Tipo_Crime_Roubo_seguido_de_morte_(latrocínio),Tipo_Crime_Tentativa_de_homicídio
0,Acre,1525,2769,1971,8,13,8,5118,88,725
1,Amapá,2451,4229,1817,117,66,43,2303,140,1507
2,Amazonas,5945,16137,7776,167,97,78,20753,445,1960
3,Bahia,20205,36069,37985,595,147,2304,89754,1103,17640
4,Ceará,11589,32146,24965,220,248,1244,62155,417,8863
5,Distrito Federal,4497,37503,3101,40,20,317,27072,227,5505
6,Espírito Santo,4803,31191,8249,96,170,547,28801,279,16871
7,Goiás,4512,65622,13850,274,300,2530,56441,513,14674
8,Maranhão,8633,18128,12726,182,422,312,27166,650,7265
9,Mato Grosso,11275,18533,6489,152,82,448,15554,302,8805
10,Mato Grosso do Sul,12012,24469,3430,58,68,5,5036,171,5255
11,Minas Gerais,9345,155933,22358,376,432,3420,62214,646,25924
12,Pará,22320,25670,21025,237,163,960,36882,1116,9866
13,Paraíba,2103,6349,8238,24,214,109,12325,199,2067
14,Paraná,37508,114903,11835,358,72,4920,55614,393,5219
15,Pernambuco,14317,36955,26382,173,270,3499,93266,934,23206
16,Piauí,4977,17164,4406,69,44,130,26235,298,4190
17,Rio Grande do Norte,1991,7262,9806,1100,161,109,40030,483,1302
18,Rio Grande do Sul,33060,103384,15034,211,379,2088,94072,735,22189
19,Rondônia,5354,18710,3135,22,135,25,12558,139,5342
20,Roraima,2111,5079,1294,54,15,3,3258,87,1002
21,Santa Catarina,8274,74025,5348,125,261,862,16768,289,10297
22,São Paulo,77678,660642,22140,446,516,58099,397243,1850,26040
23,Sergipe,3711,5759,6723,24,52,115,17119,260,3819
24,Tocantins,4388,11153,2490,43,93,41,5160,94,2801
25,Alagoas,4150,8425,9633,65,99,429,19366,278,3622
26,Rio de Janeiro,31696,108109,28052,297,525,53767,268705,1036,24390

In [72]:
# merge com DF_vítimas para add coluna Vítimas
del data_vitimas["Ano"]
del data_vitimas["Mês"]
df_vit = data_vitimas.groupby(['UF'])
df_vit = df_vit.agg('sum')

df = matriz.merge(df_vit, how='inner', on='UF')
df

,UF,Tipo_Crime_Estupro,Tipo_Crime_Furto_de_veículo,Tipo_Crime_Homicídio_doloso,Tipo_Crime_Lesão_corporal_seguida_de_morte,Tipo_Crime_Roubo_a_instituição_financeira,Tipo_Crime_Roubo_de_carga,Tipo_Crime_Roubo_de_veículo,Tipo_Crime_Roubo_seguido_de_morte_(latrocínio),Tipo_Crime_Tentativa_de_homicídio,Vítimas
0,Acre,1525,2769,1971,8,13,8,5118,88,725,1993
1,Amapá,2451,4229,1817,117,66,43,2303,140,1507,2132
2,Amazonas,5945,16137,7776,167,97,78,20753,445,1960,8684
3,Bahia,20205,36069,37985,595,147,2304,89754,1103,17640,41903
4,Ceará,11589,32146,24965,220,248,1244,62155,417,8863,26890
5,Distrito Federal,4497,37503,3101,40,20,317,27072,227,5505,3767
6,Espírito Santo,4803,31191,8249,96,170,547,28801,279,16871,8697
7,Goiás,4512,65622,13850,274,300,2530,56441,513,14674,14831
8,Maranhão,8633,18128,12726,182,422,312,27166,650,7265,13565
9,Mato Grosso,11275,18533,6489,152,82,448,15554,302,8805,7003
10,Mato Grosso do Sul,12012,24469,3430,58,68,5,5036,171,5255,3944
11,Minas Gerais,9345,155933,22358,376,432,3420,62214,646,25924,24220
12,Pará,22320,25670,21025,237,163,960,36882,1116,9866,23348
13,Paraíba,2103,6349,8238,24,214,109,12325,199,2067,8639
14,Paraná,37508,114903,11835,358,72,4920,55614,393,5219,15844
15,Pernambuco,14317,36955,26382,173,270,3499,93266,934,23206,28715
16,Piauí,4977,17164,4406,69,44,130,26235,298,4190,4768
17,Rio Grande do Norte,1991,7262,9806,1100,161,109,40030,483,1302,11431
18,Rio Grande do Sul,33060,103384,15034,211,379,2088,94072,735,22189,17028
19,Rondônia,5354,18710,3135,22,135,25,12558,139,5342,3450
20,Roraima,2111,5079,1294,54,15,3,3258,87,1002,1465
21,Santa Catarina,8274,74025,5348,125,261,862,16768,289,10297,6007
22,São Paulo,77678,660642,22140,446,516,58099,397243,1850,26040,17659
23,Sergipe,3711,5759,6723,24,52,115,17119,260,3819,7009
24,Tocantins,4388,11153,2490,43,93,41,5160,94,2801,2787
25,Alagoas,4150,8425,9633,65,99,429,19366,278,3622,10138
26,Rio de Janeiro,31696,108109,28052,297,525,53767,268705,1036,24390,31686

In [66]:
# abrindo datasets
data_ocorrencias = pd.read_excel("indicadoressegurancapublicauf.xlsx", sheet_name='Ocorrências')
data_vitimas = pd.read_excel("indicadoressegurancapublicauf.xlsx",sheet_name='Vítimas')

# alterando noma da coluna
data_ocorrencias.columns = data_ocorrencias.columns.str.replace('Tipo Crime', 'Tipo_Crime')

# agrupando por UF e Tipo_Crime
ocorrencias_por_crime = data_ocorrencias.groupby(['UF','Tipo_Crime']).sum()
ocorrencias_por_crime

# data_ocorrencias.query("UF == 'Acre' and Tipo_Crime == 'Estupro'").sum()

# listando os estados
estados = list(data_ocorrencias.UF.unique())
estados

# criando novo DataFrame com a soma das ocorrências de cada tipo de crime
matriz = []

for uf in estados:
  linha = [uf]
  for i in range(9):
    df = ocorrencias_por_crime.query(f"UF == '{uf}'")
    # print(df.Ocorrências[0])
    linha.append(df.Ocorrências[i])
  matriz.append(linha)
matriz = pd.DataFrame(matriz, columns=['UF','Tipo_Crime_Estupro',	'Tipo_Crime_Furto_de_veículo',	'Tipo_Crime_Homicídio_doloso'	,'Tipo_Crime_Lesão_corporal_seguida_de_morte'	,'Tipo_Crime_Roubo_a_instituição_financeira',	'Tipo_Crime_Roubo_de_carga',	'Tipo_Crime_Roubo_de_veículo',	'Tipo_Crime_Roubo_seguido_de_morte_(latrocínio)',	'Tipo_Crime_Tentativa_de_homicídio'	 ])
matriz

# merge com DF_vítimas para add coluna Vítimas
del data_vitimas["Ano"]
del data_vitimas["Mês"]
df_vit = data_vitimas.groupby(['UF'])
df_vit = df_vit.agg('sum')

df = matriz.merge(df_vit, how='inner', on='UF')
df
# for i, obj in ocorrencias_por_crime.iterrows():
#   print(type(obj))

,UF,Tipo_Crime_Estupro,Tipo_Crime_Furto_de_veículo,Tipo_Crime_Homicídio_doloso,Tipo_Crime_Lesão_corporal_seguida_de_morte,Tipo_Crime_Roubo_a_instituição_financeira,Tipo_Crime_Roubo_de_carga,Tipo_Crime_Roubo_de_veículo,Tipo_Crime_Roubo_seguido_de_morte_(latrocínio),Tipo_Crime_Tentativa_de_homicídio,Vítimas
0,Acre,1525,2769,1971,8,13,8,5118,88,725,1993
1,Amapá,2451,4229,1817,117,66,43,2303,140,1507,2132
2,Amazonas,5945,16137,7776,167,97,78,20753,445,1960,8684
3,Bahia,20205,36069,37985,595,147,2304,89754,1103,17640,41903
4,Ceará,11589,32146,24965,220,248,1244,62155,417,8863,26890
5,Distrito Federal,4497,37503,3101,40,20,317,27072,227,5505,3767
6,Espírito Santo,4803,31191,8249,96,170,547,28801,279,16871,8697
7,Goiás,4512,65622,13850,274,300,2530,56441,513,14674,14831
8,Maranhão,8633,18128,12726,182,422,312,27166,650,7265,13565
9,Mato Grosso,11275,18533,6489,152,82,448,15554,302,8805,7003
10,Mato Grosso do Sul,12012,24469,3430,58,68,5,5036,171,5255,3944
11,Minas Gerais,9345,155933,22358,376,432,3420,62214,646,25924,24220
12,Pará,22320,25670,21025,237,163,960,36882,1116,9866,23348
13,Paraíba,2103,6349,8238,24,214,109,12325,199,2067,8639
14,Paraná,37508,114903,11835,358,72,4920,55614,393,5219,15844
15,Pernambuco,14317,36955,26382,173,270,3499,93266,934,23206,28715
16,Piauí,4977,17164,4406,69,44,130,26235,298,4190,4768
17,Rio Grande do Norte,1991,7262,9806,1100,161,109,40030,483,1302,11431
18,Rio Grande do Sul,33060,103384,15034,211,379,2088,94072,735,22189,17028
19,Rondônia,5354,18710,3135,22,135,25,12558,139,5342,3450
20,Roraima,2111,5079,1294,54,15,3,3258,87,1002,1465
21,Santa Catarina,8274,74025,5348,125,261,862,16768,289,10297,6007
22,São Paulo,77678,660642,22140,446,516,58099,397243,1850,26040,17659
23,Sergipe,3711,5759,6723,24,52,115,17119,260,3819,7009
24,Tocantins,4388,11153,2490,43,93,41,5160,94,2801,2787
25,Alagoas,4150,8425,9633,65,99,429,19366,278,3622,10138
26,Rio de Janeiro,31696,108109,28052,297,525,53767,268705,1036,24390,31686

In [73]:
# Análise - variáveis quantitativas x quantitativas

In [ ]:
# Análise - variáveis quantitativas x qualitativa

In [ ]:
# Análise - variáveis qualitativa x qualitativa